<%= simple_form_for @test, validate: true, html: {class: "custom"}, defaults: {wrapper_html: {class: "row"}, label_html: {class: "right inline"}} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :string, input_html: {class: "small-2"} %>
    <%= f.input :integer %>
    <%= f.input :float %>
    <%= f.input :decimal %>
    <%= f.input :datetime, as: "string", input_html: {class: "datetime-picker"} %>
    <%= f.input :timestamp, as: "string", input_html: {class: "time-picker"} %>
    <%= f.input :time, as: "string", input_html: {class: "time-picker"} %>
    <%= f.input :date, as: "string", input_html: {class: "date-picker"} %>
    <%= f.input :boolean %>
    <%= f.input :text %>
    <%= "f.input :binary (error: no input)"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
