<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @test.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @test.integer %>
</p>

<p>
  <b>Float:</b>
  <%= @test.float %>
</p>

<p>
  <b>Decimal:</b>
  <%= @test.decimal %>
</p>

<p>
  <b>Datetime:</b>
  <%= @test.datetime %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @test.timestamp %>
</p>

<p>
  <b>Time:</b>
  <%= @test.time %>
</p>

<p>
  <b>Date:</b>
  <%= @test.date %>
</p>

<p>
  <b>Boolean:</b>
  <%= @test.boolean %>
</p>

<p>
  <b>Text:</b>
  <%= @test.text %>
</p>

<p>
  <b>Binary:</b>
  <%= @test.binary %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
