<%= simple_form_for @everyday, validate: true, html: {class: "custom"}, defaults: {wrapper_html: {class: "row"}, label_html: {class: "right inline"}} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :event, collection: Everyday::CATEGORY_EVENTS.values.flatten %>
    <%= f.input :begin_at %>
    <%= f.input :quantity %>
    <%= f.input :scene %>
    <%= f.input :category, input_html: {readonly: "readonly"} %>
    <%= f.input :remark %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :customerjs do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#everyday_event").change(function(){
        var ec = <%= Everyday::EVENTS_CATEGORY.to_json.html_safe %>;
        $("#everyday_category").val(ec[$(this).children('option:selected').val()]);
      });
    })
  </script>
<% end %>
