<h1>Listing everydays</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Event</th>
    <th>Begin at</th>
    <th>Quantity</th>
    <th>Scene</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @everydays.each do |everyday| %>
  <tr>
    <td><%= everyday.category %></td>
    <td><%= everyday.event %></td>
    <td><%= everyday.begin_at %></td>
    <td><%= everyday.quantity %></td>
    <td><%= everyday.scene %></td>
    <td><%= everyday.remark %></td>
    <td><%= link_to 'Show', everyday %></td>
    <td><%= link_to 'Edit', edit_everyday_path(everyday) %></td>
    <td><%= link_to 'Destroy', everyday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Everyday', new_everyday_path %>
